
/* #region utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .root{
    -main-header:#ff6900;
    -main-footer:#1a1a1a;
 }
.resize{
    height: 20px;
}
a{
    color: white;
    text-decoration: none;
}
img{
    max-width: 300px;
    max-height: 600px;
}
.p{
    padding: 2rem 0.5rem 0;
}
.p-x9{
    padding-left: 9px;
}
.font-resize{
    font-size: small;
}
/* #endregion utility */



/* #region header */
 .header{
    background: #ff6900;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 /* #endregion header */

 /* #region main */
 .container{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .product{
    position: relative;
    padding-bottom: 0;
 }
 .discount{
    position: absolute;
    top: 75%;
    left: 5%;
    background-color: red;
    color: white;
    font-size: small;
    padding: 3px 10px;
    border-radius: 999px;
 }
 .eco-friendly{
    position: absolute;
    top: 75%;
    left: 16%;
    background-color: green;
    color: white;
    font-size: small;
    padding: 3px 10px;
    margin-left: 1.5rem;    
    border-radius: 999px;
 }
 #eco-friendly{
    position: absolute;
    top: 75%;
    left: 5%;
    background-color: green;
    color: white;
    font-size: small;
    padding: 3px 10px;
    margin-left: 1.5rem;    
    border-radius: 999px;
 }
 .brand{
    font-weight: 100;
    font-size: small;
 }
 .description{
    font-weight: bold;
 }
 .price{
    color: red;
    font-weight: bold;
    display: inline-block;
 }
 .sale{
    text-decoration:line-through;
    display: inline;
    font-size: small;
 }
 .heart{
    position: absolute;
    bottom: 80%;
    right: 2%;
    background-color: white;
    padding: 0.2rem 0.6rem;
    font-size: xx-large;
 }
 .hover{
    position:absolute;
    display: none;
 }
 .product:hover .hover{
    display: block;
 }


 /* #endregion main */



 /* #region footer */
 .app-footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .boolando{
    color: white;
    font-size: large
 }

 .bg{
    background-color: white;
 }

 /* #endregion footer */