
/* #region utility */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .root{
    -main-header:#ff6900;
    -main-footer:#1a1a1a;
 }
.resize{
    height: 20px;
}
a{
    color: white;
    text-decoration: none;
}
/* #endregion utility */



/* #region header */
 .header{
    background: #ff6900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

 }
 /* #endregion header */